body {
    margin: 0;
    padding: 0;
    background: url(../images/fondo2.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar{ 
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;    
    top: -90px;
    right: 85px;
    left: calc(50% -50px);

}
.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: brown;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover{
    color: #fff;
}

.product-actions {
    display: flex;
    gap: 10px;
}

.btn-edit {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #f44336; /* Rojo */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.delete-btn:hover {
    background-color: #da190b;
    color: white;
}

/* Reset básico */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.btn-danger {
    background-color: #dc3545;
}

.btn:hover {
    opacity: 0.8;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash-messages {
    background-color: #f4f4f4; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    padding: 10px; /* Espaciado interior */
    margin: 10px 0; /* Margen exterior */
    border-radius: 5px; /* Bordes redondeados */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación del texto */
  }
  