{% extends 'base.html' %}

{% block body %}
<h2>Añadir producto</h2>
<form action="{{ url_for('add_product') }}" method="post">
    <label for="name">Nombre:</label>
    <input type="text" name="name" required><br><br>
    
    <label for="description">Descripción:</label>
    <textarea name="description"></textarea><br><br>

    <label for="price">Precio:</label>
    <input type="number" step="0.01" name="price" required><br><br>

    <input type="submit" value="Añadir">
</form>
{% endblock %}
